<link rel="stylesheet" href="css/bingo.css" type="text/css">
		
<h1>Team WvW Bingo</h1>

<iframe width="960" height="560" src="//www.youtube.com/embed/gixWXGVYPaM" frameborder="0" allowfullscreen></iframe>

<bingo-sheet></bingo-sheet>
<br/>
<br/>
<h2>How to Play</h2>
<ul>
<li>Take a screenshot of a square being filled.</li>
<li>Upload it to your favorite image hosting site. (We recommend <a href="http://imgur.com/">Imgur</a>)</li>
<li>Comment on this week's video with the image, the square being fulfilled, and your in-game handle. (i.e. robocafaz.9017)</li>
<li>The first players to make a Bingo by 11:59 PM EST the following Friday will get a fabulous prize!</li>
</ul>

<h2>The Rules</h2>
<ul>
<li>All images must take place during the matchup the bingo period occurs in.</li>
<li>All weekly submissions must be in by 11:59 EST the Friday the matchup ends.</li>
<li>All images must take place on a Borderland, Eternal Battlegrounds, or Obsidian Sanctum. Edge of the Mists posts will not be counted.</li>
<li>Squares cannot be fulfilled by your own character. (i.e. any "player using X build" or "doing X" cannot be you.)</li>
<li>Prizes will be distributed via in-game mail over the weekend after the match ends.</li>
<li>If no Bingo is achieved during the weekend the closest match will receive a consolation prize.</li>
<li>Players may submit as many squares as they see fit, but will only receive one prize.</li>
<li>In the event of duplicate squares being fulfilled, the first person to submit will receive credit. Others will be given honorable mentions.</li>
<li>If Bingo is achieved in multiple ways, the winning rows will receive prizes and ALL other participants will also receive a small gift.</li>
<li>Rules are subject to change at any point to Deany Kong's disgresion.</li>
<li>Prizes may vary from week-to-week depending on participation and funds.</li>
</ul>

<h3>Help out!</h3>
<p>If you like this game and want to see it continue, please donate to the prize pool! Contact Deany Kong at <u>robocafaz.9017</u> in-game!</p>