<div id="sidebar" ng-include src="'views/sidebar.html'"></div>
<h1>{{prof.name}}</h1>
<ul>
	<li><b>Armor:</b> {{armor[prof.armor]}}
	<li><b>Health:</b> {{hp[prof.hp].name}}
</ul>
<ul>
	<li ng-repeat="stat in stats"><img src='{{stat.icon}}' title='{{stat.name}}'/> {{stat.value}}</li>
</ul>

<div id="tree">
	<p>Remaining Points: {{maxTraits - totalTraits}} <button ng-click="resetTraits()">Reset</button></p>
	<ul>
		<li ng-repeat="trait in prof.traits">
			<span>
				{{trait.name}}
			</span>
			<span>
				<img src='{{stats[trait.primary].icon}}' title='{{stats[trait.primary].name}}'/>
			</span>
			<span>
				<img src='{{stats[trait.secondary].icon}}' title='{{stats[trait.secondary].name}}'/>
			</span>
			<span>
				<button ng-click="adjustTrait($index,5)">+5</button>
			</span>
			<span>
				<button ng-click="adjustTrait($index,-5)">-5</button>
			</span>
			<span>
				{{traits[$index]}}
			</span>
		</li>
	</ul>
</div>

<div id="doll">
	<ul>
		<li ng-repeat="slot in slots">{{slot.name}}</li>
	</ul
</div>