<div id="pick">
	<ul id="table">
		<li>
			<span ng-repeat="prof in professions" ng-click="changeClass(prof)" ng-bind-html="getIcon(professions,prof.name)">
			</span>
		</li>
	</ul>
</div>

<h1>{{prof.name}}</h1>

<div id="tree">
	<form>
	<ul id="table">
		<li id="head">
			<span>
				Stat
			</span>
			<span>
				Weight
			</span>
			<span>
				Threshold
			</span>
			<span>
				Value
			</span>
		</li>
		<li ng-repeat="stat in stats">
				<span ng-bind-html="getIcon(stats,stat.name)">
				</span>
				<span>
					<input type="number" ng-model="weight[stat.name]" min="0" max="1000" value="100" />
				</span>
				<span>
					<select ng-model="limit[stat.name]" ng-options="item for item in limitTypes">
						<option value="">None</option>
					</select>
				</span>
				<span>
					<input type="number" ng-model="value[stat.name]" ng-disabled="!limit[stat.name]" min="0" max="40000" value="0" />
				</span>
		</li>
	</ul>
	</form>
</div>

<div id="doll">
	<ul>
		<li ng-repeat="stat in stats">
			<span ng-bind-html="getIcon(stats,stat.name)">
			</span>
			<span>
				{{stat.value}}
			</span>
		</li>
	</ul>
</div>