<div>
	<div id="table" class="fixed">
		<ul>
			<li>
				<event-info id="left-column" event="lastEvent">
				</event-info>
				<event-info id="right-column" event="nextEvent">
				</event-info>
			</li>
		</ul>
	</div>
	<div id="filter">
		<h3>
			Filter:
			<select ng-model="filter" ng-options="event.name as event.name for event in events | unique:'name'">
				<option value=""> - - - </option>
			</select>
		</h3> 
	</div>
	<div id="table">
		<ul>
			<li id="head">
				<span>Event</span>
				<span>Next Time</span>
				<span>Countdown</span>
				<span>Waypoint Code</span>
				<span>Location</span>
			</li>
			<li ng-repeat="event in events | orderBy:predicate:reverse | filter:filter">
				<span>{{event.name}}</span>
				<span>{{event.time | date: 'h:mm a'}}</span>
				<span>{{event.countdown.h | paddedNumber:2}}h {{event.countdown.m| paddedNumber:2}}m {{event.countdown.s| paddedNumber:2}}s</span>
				<span class="monospaced" select-on-click>{{event.link}}</span>
				<span>{{event.location}}</span>
			</li>
		</ul>
	</div>
</div>