<div>
	<h2>Stat Values</h2>
	<form name="statValues">
	<div ng-repeat="stat in stats">
		<span>
			<img src="{{stat.icon}}">
		</span>
		<span>
			{{stat.name}}
		</span>
		<span>
			Worth <input type="number" ng-model="stat.value">
		</span>
		<span>
			<select ng-model="stat.type" ng-options="o for o in options">
				<option value=""> - - - </option>
			</select>
		</span>
		<span>
			<input type="number" ng-model="stat.threshold" ng-disabled="stat.type == null" />
		</span>
		<span>
			otherwise 
			<input type="number" ng-model="stat.overage" ng-disabled="stat.type == null" />
		</span>
	</div>
	</form>
</div>